body {
	max-width: 1920px;
	margin: auto;
}
* {
	font-family: 'Inter';
	font-style: normal;
}

#services h4{
	display: block;
	font-size: 1.75rem;

    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.name{
	margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.carousel-indicators {
	display: flex;
	justify-content: center;
	gap: 5px;
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	z-index: 1;
  }
  .carousel-indicators button {
	background-color: gray;
	width: 30px;
	height: 3px;
	opacity: 0.5;
	border: none;
  }
  
  .carousel-indicators button.active {
	background-color: white;
  }
.top-header {
	background-color: white;
	position: sticky;
	top:0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 30px;
	align-items: center;
}

.top-header .name {
	font-size: 26px;
}

.nav ul {
	display: flex;
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 0;
}

.nav li {
	padding-inline: 10px;
}

.nav a {
	text-decoration: none;
	color: #000
}

.social-link img {
	width: 20px;
	height: 20px;
}

#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
}

.picture.left::before {
	content: ' ';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}
#gallery{
	width: 100%;
}
.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;

}
.gallery-item {
	position: relative;
	max-width: 100%;
	width: 440px; 
	height: 440px; 
	object-fit: cover;
  }
.gallery-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
.picture {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
}
.modal {
	display: none;
	position: fixed;
	padding-top: 50px;
	left: 0;
	top: 0;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
  }
.modal-cont {
	display: block;
	max-width: 466px;
	height: auto;
	border: white solid 15px;
	border-radius: 0.3rem;
} 
.caption {
	color: #fff;
	text-align: center;
	margin-top: 10px;
}
.close {
	color: #fff;
	position: absolute;
	top: 15px;
	right: 35px;
	font-size: 40px;
	font-weight: bold;
	cursor: pointer;
}
.flex-modal {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: auto;
	width: 500px;
}
.flex-modal button{
	border: none;
	background-color: white;
	position: relative;
	font-size: 1.5em;
}
#nextButton{
	right: 10px;
}
#prevButton{
	left: 10px;
}
.picture img {
	width: 100%;
	height: 100%;
}
#about-me {
	flex: 2
}
.about-me__title {
	font-weight: 500;
	margin-top: 1em;
	margin-bottom: 60px;
	font-size: 30px;
}
.about-me__introduction {
	font-family: 'Spectral';
	font-weight: 800;
	font-style: italic;
	width: 60%;
	font-size: 1rem;
	line-height: 1.2;
	margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
#about-me p {
	width: 80%;
	font-size: 14px;

}
.categories{
	max-width: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin: auto;
}
.categories button{

	text-decoration: none;
	background-color: white;
	border: none;
	padding: 10px 15px;
}
.categories button.active-tag {
	color: black;
	background-color: #BEB45A;
	border-radius: 0;
  }
.title{
	text-align: center;
	padding-block: 2em;
}
.quote {
	font-family: 'Spectral';
	font-style: italic;
	width: 70%;
	margin: auto;
	padding-block: 3em;
}
.quote__text {
	font-family: Spectral;
	font-style: italic;
	font-weight: 300;
	font-size: 2.5rem;
	margin-top: 0;
	display: block;
	line-height: 1.2;
}
.quote__author {
	font-family: Spectral;
	font-weight: 800;
	font-size: 22px;
}

#services {
	margin: auto;
	background-color: #A8D5D8 ;
	position: relative;
}
#services .container::before{
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#services .container {
	justify-content: space-between;
	display: flex;
	padding : 2em 0;

}

.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

#contact {
	margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
}

#contact .container {
	display: flex;
}
.picture.right::before {
	content: ' ';
	background-color: #BEB45A;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.form-container {
	flex : 2;

}
form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}

form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}

form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}
input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em
}
.contact-snippet {
	background-color: #D8D3A8;
	text-align: center;
  }
  
  .contact-snippet ul {
	list-style-type: none;
	padding: 0;
  }
  
  h5 {
	margin: 0 0 15px 0;
  }
  
  .contact-snippet li {
	text-align: center;
	display: inline-block; 
	margin: 0 5px; 
  }